.paragraph {
    font-family: "Raleway";
    font-weight: bold;
    color: floralwhite;
}
.header {
    font-family: "Montserrat";
    color: white;
}
.hyperlink {
    color: #f0b0ff;
}
.button {
    border-radius: 500px;
    width: 100px;
    height: 50px;
    background-color: #f0b0ff;
}
.body {
    background-color: darkgray;
}
.hyperlink-header {
    color: antiquewhite;
    font-family: "Montserrat";
    color: white;
}